/input/magicc
/input/climate
/libs
/output
/ModelInterface
/Additional Licenses
/CONTRIBUTING.md
/LICENSE.md
/README.md
.Rproj.user
/input/gcamdata/inst/extdata/gcam-usa
/input/gcamdata/man
/input/gcamdata/.drake
/input/gcamdata/figures
/input/gcamdata/tests


*~BROMIUM  
exe/debugReference.xml
exe/debugReference.xml
*.bak

/input/gcamdata/inst/extdata/emissions
/input/gcamdata/inst/extdata/energy/mappings
/input/gcamdata/inst/extdata/energy/~BROMIUM
/input/gcamdata/inst/extdata/energy/GIS/~BROMIUM
/exe/~BROMIUM
/input/gcamdata/inst/extdata/socioeconomics/GTAP/~BROMIUM
/input/gcamdata/inst/extdata/socioeconomics/~BROMIUM
input/gcamdata/inst/extdata/aglu/USDA/USDA_Cost_database.xls
Packages Installation.R
Working_code.R
input/gcamdata/gcamdata.Rproj
Restructuring Docs/1. Adding a CDR technology on GCAM7.docx
Restructuring Docs/~$ Adding a CDR technology on GCAM7.docx
Restructuring Docs/~WRL4009.tmp
exe/debugBAU.xml
exe/debugCDRandRWOg.xml
exe/debugDACRWogandCO2Cap.xml
exe/debugDACRWogandMaxResource.xml
exe/debugDACssp2andRWOgmaxsubRUS.xml
exe/debugDACssp2RWog.xml
exe/debugOnlyDACssp2.xml
exe/debugRWandCO2Cap.xml
exe/debugRWNewMaxResourcePE0.xml
exe/debugRWNewNoCalib.xml
exe/debugRWNewURsrcPE0.xml
exe/debugRWStandalone.xml
exe/XMLDBDriver.properties
exe/debugRockWeathering.xml
exe/debugRockWeatheringDAC0test.xml
exe/debugRockWeatheringTrncoeftest.xml
exe/gcam-epa.exe
Restructuring Docs/~WRL1749.tmp
Restructuring Docs/~$Rock weathering parameters.xlsx
Restructuring Docs/~$ Changes to R code.docx
Restructuring Docs/Rock weathering parameters.xlsx
Restructuring Docs/Calculatiung prices - of CO2 and tech.xlsx
Restructuring Docs/2. Changes to R code.docx
Restructuring Docs/2. Changes to R code.docx
/Restructuring Docs
Restructuring Docs/2. Changes to R code.docx
Restructuring Docs/~$ Changes to R code.docx
Restructuring Docs/2. Changes to R code.docx
