/input/magicc
/input/climate
/libs
/output
/ModelInterface
/Additional Licenses
/CONTRIBUTING.md
/LICENSE.md
/README.md
.Rproj.user
/input/gcamdata/inst/extdata/gcam-usa
/input/gcamdata/man
/input/gcamdata/.drake
/input/gcamdata/figures
/input/gcamdata/tests


*~BROMIUM  
exe/debugReference.xml
exe/debugReference.xml
*.bak

/input/gcamdata/inst/extdata/emissions
/input/gcamdata/inst/extdata/energy/mappings
/input/gcamdata/inst/extdata/energy/~BROMIUM
/input/gcamdata/inst/extdata/energy/GIS/~BROMIUM
/exe/~BROMIUM
/input/gcamdata/inst/extdata/socioeconomics/GTAP/~BROMIUM
/input/gcamdata/inst/extdata/socioeconomics/~BROMIUM
